
.g-homeuser {
    padding: 20px 40px;
    min-height: calc( 100vh - 65px );
    background: #dbe6e8;




  .m-tab-userinfo {
    background: #fff;
  }

  .m-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  } 


  .m-tl {
      background: #3d74aa;
      color: #fff;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
  }

  .m-col-tl, .m-col-co {
    padding: 10px 20px;
  }

  .m-col-tl {
    width: 180px;
  }

  .m-col-co {
    flex: 1;
  }

  .m-col-co>div {
      width: 100%;
  }

  .m-tl>span {
      flex: 1;
  }

  .m-fn>button {
      margin-left: 10px;
      width: 100px;
  }


  .m-fav {
      background: #fff;
      /*padding: 15px 20px;*/
      display: flex;
      flex-direction: column;
  }

  

  .m-row-f>span:nth-child(1) {
      flex-basis: 100px;
  }

  .m-row-f>span:nth-child(2) {
      flex: 1
  }


  .m-row-f>span:nth-child(3) {
      flex-basis: 200px;
  }

  .m-row-f>span:nth-child(4) {
      flex-basis: 100px;
  }


  .m-row-f>span:nth-child(5) {
      flex-basis: 100px;
  }

  .m-row-f>span:nth-child(6) {
      flex-basis: 100px;
  }

  .m-row-f {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  } 

  .m-row-tl {
    padding: 10px;
    background: #666;
    color: #fff;
  }


}




@media only screen and (max-width: 768px) {

  .g-homeuser {
      padding: 10px;
  }

  .m-reg-form {
    font-size: 12px;
  }

  .m-col-tl {
      width: 100px!important;
  }

  .m-col-co {
      width: 70%!important;
      flex: unset!important;
      padding: 10px!important;
  }

}